h1.name {
    text-align:center;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(236, 251, 255);
}
.about {
    background: rgb(196, 229, 238);
}
div.projects {
    /* "do not use empty rulesets" :1984: */
    border:default;
    width:min-content;
    display:flex;
    flex-wrap:wrap;
    /* maybe not
    display:flex;
    flex-wrap:wrap;
    */
}
img.affinityDiagram {
    width:25%;
}
section.project {
    border: width 10px;
    border-style:outset;
    padding: bottom 8px;
    padding-top: 8px;
    border-color: rgb(196,229,238);
    /* mistakes were made lessons were not learned >w<
    display:flex;
    flex-wrap:wrap;
    align-items:center;
     */
}
img.project{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
}

img.projectStatementImg {
    size: 33%;
}

img.otherImg {
    width: 67%;
    height: 67%;
    /*pwease work >_<*/
    
}
/*
img {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}*/

img {
    display: block;
    margin: 0 auto;
  }

/*
a.projectImg {
    display:flex;
    align-content: center;
    margin:auto;
}
    */